In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
import matplotlib.mlab as mlab
%matplotlib inline

In [13]:
df = pd.read_csv('results 2018-12-01 2018-12-05.csv')

In [14]:
df['count_total'] = 1

df.fish = df.fish - 1
df['won_bi'] = df['total_won']/df['bi']

In [15]:
grouped = df.groupby('fish')
table_by_fish = grouped.sum().copy()
table_by_fish['roi'] = table_by_fish.won_bi/df['fish'].value_counts()

In [16]:
grouped = df.groupby('bi')
table_by_bi = grouped.sum().copy()
table_by_bi['roi'] = table_by_bi.won_bi/df['bi'].value_counts()

In [17]:
df[df.bi==25]

,Unnamed: 0,tid,bi,date,fish,prize_won,bounty_won,total_won,finishes,hands,count_total,won_bi
5,5,2470751258,25.0,2018-12-01 11:42:03,3,-25.00,0.00,-25.00,5,10,1,-1.0000
8,8,2470752694,25.0,2018-12-01 11:44:51,2,11.03,72.06,83.09,1,35,1,3.3236
9,9,2470754710,25.0,2018-12-01 11:45:38,2,11.03,24.02,35.05,1,31,1,1.4020
14,14,2470757789,25.0,2018-12-01 11:52:31,2,-25.00,0.00,-25.00,4,7,1,-1.0000
24,24,2470760339,25.0,2018-12-01 12:07:49,2,11.03,48.04,59.07,1,23,1,2.3628
36,36,2470779762,25.0,2018-12-01 12:21:05,2,-25.00,0.00,-25.00,5,5,1,-1.0000
42,42,2470782761,25.0,2018-12-01 12:25:39,2,-25.00,0.00,-25.00,5,4,1,-1.0000
44,44,2470785061,25.0,2018-12-01 12:30:40,2,-25.00,24.02,-0.98,3,14,1,-0.0392
54,54,2470821733,25.0,2018-12-01 13:17:23,2,-25.00,0.00,-25.00,4,14,1,-1.0000
57,57,2470824591,25.0,2018-12-01 13:19:38,3,11.03,0.00,11.03,2,19,1,0.4412
60,60,2470826483,25.0,2018-12-01 13:22:11,2,-25.00,0.00,-25.00,6,6,1,-1.0000
61,61,2470828303,25.0,2018-12-01 13:22:58,3,11.03,48.04,59.07,1,31,1,2.3628
63,63,2470829076,25.0,2018-12-01 13:24:34,2,11.03,60.05,71.08,1,21,1,2.8432
64,64,2470830142,25.0,2018-12-01 13:28:09,3,-25.00,0.00,-25.00,4,11,1,-1.0000
65,65,2470833127,25.0,2018-12-01 13:29:17,3,-25.00,0.00,-25.00,3,28,1,-1.0000
72,72,2470833823,25.0,2018-12-01 13:36:59,3,-25.00,0.00,-25.00,3,16,1,-1.0000
75,75,2470839913,25.0,2018-12-01 13:41:40,3,-25.00,0.00,-25.00,6,1,1,-1.0000
78,78,2470843343,25.0,2018-12-01 13:44:24,4,11.03,24.02,35.05,2,22,1,1.4020
81,81,2470845419,25.0,2018-12-01 13:48:45,2,11.03,24.02,35.05,2,37,1,1.4020
84,84,2470848859,25.0,2018-12-01 13:50:54,2,-25.00,0.00,-25.00,6,4,1,-1.0000
87,87,2470850526,25.0,2018-12-01 13:53:26,3,11.03,0.00,11.03,2,15,1,0.4412
88,88,2470852446,25.0,2018-12-01 13:54:28,3,11.03,48.04,59.07,1,22,1,2.3628
90,90,2470853289,25.0,2018-12-01 13:56:04,3,-25.00,0.00,-25.00,4,15,1,-1.0000
91,91,2470854694,25.0,2018-12-01 13:56:55,4,-25.00,12.01,-12.99,4,15,1,-0.5196
93,93,2470855313,25.0,2018-12-01 13:59:27,3,-25.00,12.01,-12.99,5,14,1,-0.5196
95,95,2470857526,25.0,2018-12-01 14:02:32,3,11.03,12.01,23.04,2,31,1,0.9216
100,100,2470859833,25.0,2018-12-01 14:06:52,2,11.03,72.06,83.09,1,18,1,3.3236
102,102,2470863005,25.0,2018-12-01 14:09:38,3,11.03,48.04,59.07,1,22,1,2.3628
104,104,2470864984,25.0,2018-12-01 14:10:19,3,-25.00,0.00,-25.00,3,10,1,-1.0000
105,105,2470893193,25.0,2018-12-01 14:47:26,2,-25.00,0.00,-25.00,5,3,1,-1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
402,402,2473296438,25.0,2018-12-04 14:29:05,3,-25.00,12.01,-12.99,3,17,1,-0.5196
404,404,2473296980,25.0,2018-12-04 14:30:00,1,11.03,24.02,35.05,2,40,1,1.4020
410,410,2473303348,25.0,2018-12-04 14:37:50,3,11.03,60.05,71.08,1,32,1,2.8432
413,413,2473306207,25.0,2018-12-04 14:42:23,3,-25.00,0.00,-25.00,4,21,1,-1.0000
416,416,2473308651,25.0,2018-12-04 14:44:49,3,-25.00,0.00,-25.00,5,18,1,-1.0000
419,419,2473310696,25.0,2018-12-04 14:48:15,3,-25.00,0.00,-25.00,3,23,1,-1.0000
422,422,2473313617,25.0,2018-12-04 14:51:45,2,-25.00,0.00,-25.00,4,12,1,-1.0000
424,424,2473317509,25.0,2018-12-04 14:54:41,3,-25.00,48.04,23.04,1,36,1,0.9216
426,426,2473319128,25.0,2018-12-04 14:55:50,3,-25.00,12.01,-12.99,3,23,1,-0.5196
428,428,2473320266,25.0,2018-12-04 14:58:36,3,-25.00,12.01,-12.99,3,23,1,-0.5196
429,429,2473322821,25.0,2018-12-04 15:00:26,4,-25.00,0.00,-25.00,6,2,1,-1.0000
431,431,2473324285,25.0,2018-12-04 15:02:19,3,11.03,24.02,35.05,2,29,1,1.4020
432,432,2473325889,25.0,2018-12-04 15:04:54,3,-25.00,0.00,-25.00,6,5,1,-1.0000
435,435,2473328103,25.0,2018-12-04 15:07:33,3,11.03,60.05,71.08,1,33,1,2.8432
438,438,2473330234,25.0,2018-12-04 15:09:30,3,11.03,12.01,23.04,2,25,1,0.9216
439,439,2473331917,25.0,2018-12-04 15:10:47,3,-25.00,12.01,-12.99,3,17,1,-0.5196
440,440,2473333025,25.0,2018-12-04 15:11:35,4,-25.00,24.02,-0.98,3,22,1,-0.0392
441,441,2473333683,25.0,2018-12-04 15:12:18,2,11.03,0.00,11.03,2,12,1,0.4412
442,442,2473334392,25.0,2018-12-04 15:15:13,3,11.03,72.06,83.09,1,23,1,3.3236
443,443,2473336861,25.0,2018-12-04 15:17:19,3,-25.00,0.00,-25.00,4,16,1,-1.0000
444,444,2473338623,25.0,2018-12-04 15:18:07,2,-25.00,0.00,-25.00,4,11,1,-1.0000
445,445,2473339325,25.0,2018-12-04 15:18:27,3,-25.00,0.00,-25.00,6,1,1,-1.0000
446,446,2473339604,25.0,2018-12-04 15:20:36,2,-25.00,0.00,-25.00,6,9,1,-1.0000
448,448,2473341475,25.0,2018-12-04 15:21:42,1,11.03,12.01,23.04,2,34,1,0.9216
451,451,2473342403,25.0,2018-12-04 15:24:38,3,11.03,12.01,23.04,2,38,1,0.9216
452,452,2473344973,25.0,2018-12-04 15:25:24,3,11.03,48.04,59.07,1,22,1,2.3628
453,453,2473345671,25.0,2018-12-04 15:26:43,2,-25.00,12.01,-12.99,4,7,1,-0.5196
455,455,2473346929,25.0,2018-12-04 15:28:21,2,-25.00,0.00,-25.00,4,8,1,-1.0000
456,456,2473348383,25.0,2018-12-04 15:29:22,3,11.03,36.03,47.06,1,37,1,1.8824
457,457,2473349231,25.0,2018-12-04 15:32:39,2,11.03,36.03,47.06,1,25,1,1.8824

In [18]:
df[df.bi==25]

,Unnamed: 0,tid,bi,date,fish,prize_won,bounty_won,total_won,finishes,hands,count_total,won_bi
5,5,2470751258,25.0,2018-12-01 11:42:03,3,-25.00,0.00,-25.00,5,10,1,-1.0000
8,8,2470752694,25.0,2018-12-01 11:44:51,2,11.03,72.06,83.09,1,35,1,3.3236
9,9,2470754710,25.0,2018-12-01 11:45:38,2,11.03,24.02,35.05,1,31,1,1.4020
14,14,2470757789,25.0,2018-12-01 11:52:31,2,-25.00,0.00,-25.00,4,7,1,-1.0000
24,24,2470760339,25.0,2018-12-01 12:07:49,2,11.03,48.04,59.07,1,23,1,2.3628
36,36,2470779762,25.0,2018-12-01 12:21:05,2,-25.00,0.00,-25.00,5,5,1,-1.0000
42,42,2470782761,25.0,2018-12-01 12:25:39,2,-25.00,0.00,-25.00,5,4,1,-1.0000
44,44,2470785061,25.0,2018-12-01 12:30:40,2,-25.00,24.02,-0.98,3,14,1,-0.0392
54,54,2470821733,25.0,2018-12-01 13:17:23,2,-25.00,0.00,-25.00,4,14,1,-1.0000
57,57,2470824591,25.0,2018-12-01 13:19:38,3,11.03,0.00,11.03,2,19,1,0.4412
60,60,2470826483,25.0,2018-12-01 13:22:11,2,-25.00,0.00,-25.00,6,6,1,-1.0000
61,61,2470828303,25.0,2018-12-01 13:22:58,3,11.03,48.04,59.07,1,31,1,2.3628
63,63,2470829076,25.0,2018-12-01 13:24:34,2,11.03,60.05,71.08,1,21,1,2.8432
64,64,2470830142,25.0,2018-12-01 13:28:09,3,-25.00,0.00,-25.00,4,11,1,-1.0000
65,65,2470833127,25.0,2018-12-01 13:29:17,3,-25.00,0.00,-25.00,3,28,1,-1.0000
72,72,2470833823,25.0,2018-12-01 13:36:59,3,-25.00,0.00,-25.00,3,16,1,-1.0000
75,75,2470839913,25.0,2018-12-01 13:41:40,3,-25.00,0.00,-25.00,6,1,1,-1.0000
78,78,2470843343,25.0,2018-12-01 13:44:24,4,11.03,24.02,35.05,2,22,1,1.4020
81,81,2470845419,25.0,2018-12-01 13:48:45,2,11.03,24.02,35.05,2,37,1,1.4020
84,84,2470848859,25.0,2018-12-01 13:50:54,2,-25.00,0.00,-25.00,6,4,1,-1.0000
87,87,2470850526,25.0,2018-12-01 13:53:26,3,11.03,0.00,11.03,2,15,1,0.4412
88,88,2470852446,25.0,2018-12-01 13:54:28,3,11.03,48.04,59.07,1,22,1,2.3628
90,90,2470853289,25.0,2018-12-01 13:56:04,3,-25.00,0.00,-25.00,4,15,1,-1.0000
91,91,2470854694,25.0,2018-12-01 13:56:55,4,-25.00,12.01,-12.99,4,15,1,-0.5196
93,93,2470855313,25.0,2018-12-01 13:59:27,3,-25.00,12.01,-12.99,5,14,1,-0.5196
95,95,2470857526,25.0,2018-12-01 14:02:32,3,11.03,12.01,23.04,2,31,1,0.9216
100,100,2470859833,25.0,2018-12-01 14:06:52,2,11.03,72.06,83.09,1,18,1,3.3236
102,102,2470863005,25.0,2018-12-01 14:09:38,3,11.03,48.04,59.07,1,22,1,2.3628
104,104,2470864984,25.0,2018-12-01 14:10:19,3,-25.00,0.00,-25.00,3,10,1,-1.0000
105,105,2470893193,25.0,2018-12-01 14:47:26,2,-25.00,0.00,-25.00,5,3,1,-1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
402,402,2473296438,25.0,2018-12-04 14:29:05,3,-25.00,12.01,-12.99,3,17,1,-0.5196
404,404,2473296980,25.0,2018-12-04 14:30:00,1,11.03,24.02,35.05,2,40,1,1.4020
410,410,2473303348,25.0,2018-12-04 14:37:50,3,11.03,60.05,71.08,1,32,1,2.8432
413,413,2473306207,25.0,2018-12-04 14:42:23,3,-25.00,0.00,-25.00,4,21,1,-1.0000
416,416,2473308651,25.0,2018-12-04 14:44:49,3,-25.00,0.00,-25.00,5,18,1,-1.0000
419,419,2473310696,25.0,2018-12-04 14:48:15,3,-25.00,0.00,-25.00,3,23,1,-1.0000
422,422,2473313617,25.0,2018-12-04 14:51:45,2,-25.00,0.00,-25.00,4,12,1,-1.0000
424,424,2473317509,25.0,2018-12-04 14:54:41,3,-25.00,48.04,23.04,1,36,1,0.9216
426,426,2473319128,25.0,2018-12-04 14:55:50,3,-25.00,12.01,-12.99,3,23,1,-0.5196
428,428,2473320266,25.0,2018-12-04 14:58:36,3,-25.00,12.01,-12.99,3,23,1,-0.5196
429,429,2473322821,25.0,2018-12-04 15:00:26,4,-25.00,0.00,-25.00,6,2,1,-1.0000
431,431,2473324285,25.0,2018-12-04 15:02:19,3,11.03,24.02,35.05,2,29,1,1.4020
432,432,2473325889,25.0,2018-12-04 15:04:54,3,-25.00,0.00,-25.00,6,5,1,-1.0000
435,435,2473328103,25.0,2018-12-04 15:07:33,3,11.03,60.05,71.08,1,33,1,2.8432
438,438,2473330234,25.0,2018-12-04 15:09:30,3,11.03,12.01,23.04,2,25,1,0.9216
439,439,2473331917,25.0,2018-12-04 15:10:47,3,-25.00,12.01,-12.99,3,17,1,-0.5196
440,440,2473333025,25.0,2018-12-04 15:11:35,4,-25.00,24.02,-0.98,3,22,1,-0.0392
441,441,2473333683,25.0,2018-12-04 15:12:18,2,11.03,0.00,11.03,2,12,1,0.4412
442,442,2473334392,25.0,2018-12-04 15:15:13,3,11.03,72.06,83.09,1,23,1,3.3236
443,443,2473336861,25.0,2018-12-04 15:17:19,3,-25.00,0.00,-25.00,4,16,1,-1.0000
444,444,2473338623,25.0,2018-12-04 15:18:07,2,-25.00,0.00,-25.00,4,11,1,-1.0000
445,445,2473339325,25.0,2018-12-04 15:18:27,3,-25.00,0.00,-25.00,6,1,1,-1.0000
446,446,2473339604,25.0,2018-12-04 15:20:36,2,-25.00,0.00,-25.00,6,9,1,-1.0000
448,448,2473341475,25.0,2018-12-04 15:21:42,1,11.03,12.01,23.04,2,34,1,0.9216
451,451,2473342403,25.0,2018-12-04 15:24:38,3,11.03,12.01,23.04,2,38,1,0.9216
452,452,2473344973,25.0,2018-12-04 15:25:24,3,11.03,48.04,59.07,1,22,1,2.3628
453,453,2473345671,25.0,2018-12-04 15:26:43,2,-25.00,12.01,-12.99,4,7,1,-0.5196
455,455,2473346929,25.0,2018-12-04 15:28:21,2,-25.00,0.00,-25.00,4,8,1,-1.0000
456,456,2473348383,25.0,2018-12-04 15:29:22,3,11.03,36.03,47.06,1,37,1,1.8824
457,457,2473349231,25.0,2018-12-04 15:32:39,2,11.03,36.03,47.06,1,25,1,1.8824

In [19]:
grouped = df.groupby(['bi', 'fish'])
table_by_bi_fish = grouped.sum().copy()
table_by_bi_fish['roi'] = table_by_bi_fish.won_bi/table_by_bi_fish.count_total

In [10]:
table_by_fish

,Unnamed: 0,tid,bi,prize_won,bounty_won,total_won,finishes,hands,count_total,won_bi,roi
fish,,,,,,,,,,,
0,3,2473094708,10.0,-10.00,0.00,-10.00,3,16,1,-1.0000,-1.000000
1,124,7419737972,60.0,26.43,45.61,72.04,6,102,3,3.7186,1.239533
2,1270,59359050770,360.0,-201.72,119.89,-81.83,82,395,24,-3.3890,-0.141208
3,2209,123664129379,885.0,-438.63,504.28,65.65,152,951,50,-1.0600,-0.021200
4,399,29679036317,160.0,-102.52,55.14,-47.38,43,157,12,-1.9412,-0.161767

In [20]:
table_by_bi

,Unnamed: 0,tid,fish,prize_won,bounty_won,total_won,finishes,hands,count_total,won_bi,roi
bi,,,,,,,,,,,
5.0,5989,101332810262,147,-105.04,78.54,-26.50,140,722,41,-5.3000,-0.129268
10.0,53776,580896670490,697,-1027.96,1120.86,92.90,750,4252,235,9.2900,0.039532
25.0,45346,452374202422,503,-2377.17,2221.85,-155.32,614,3240,183,-6.2128,-0.033950

In [9]:
table_by_bi_fish

           Unnamed: 0             tid  prize_won  bounty_won  total_won  \
bi   fish
5.0  1          56907      7170934255      -7.86        9.52       1.66
     2        1020914    135813181115    -132.20      159.46      27.26
     3        6597060    855053155092    -840.38      925.82      85.44
     4       11501912   1550669284815   -1512.84     1768.34     255.50
     5        5519325    760753588196    -700.36      902.02     201.66
10.0 0          30029      4714451252      -5.63       28.74      23.11
     1        1705758    267954562010    -550.83      680.18     129.35
     2       17880123   2879643657073   -5770.39     6394.65     624.26
     3       58553734   9354332576691  -18674.25    21123.90    2449.65
     4       37962542   6762725437947  -13381.07    14437.06    1055.99
     5        7212408   1402008341757   -2888.60     2883.58      -5.02
25.0 0         158115     23572841504     -69.85      168.14      98.29
     1        4716247    728092760207   -3570.52     4095.41     524.89
     2       32560124   5502603928373  -28454.65    29844.85    1390.20
     3       56713870  10323201904177  -54443.93    55606.30    1162.37
     4       22215080   4656351858870  -22851.02    25269.04    2418.02
     5        2532595    607462653060   -3274.21     2990.06    -284.15
50.0 0         119974     18800122556    -111.76      408.34     296.58
     1        2977392    517300365648   -5911.68     4852.04   -1059.64
     2       25194391   4504025202797  -46394.03    48328.24    1934.21
     3       42781916   7845745126579  -81369.16    83157.24    1788.08
     4       15678781   3081200536640  -30664.12    32643.18    1979.06
     5        1621956    363398065095   -3432.28     3554.96     122.68

           finishes  hands  count_total    won_bi       roi
bi   fish
5.0  1           10     50            3    0.3320  0.110667
     2          187   1090           57    5.4520  0.095649
     3         1177   6433          358   17.0880  0.047732
     4         2078  11847          651   51.1000  0.078495
     5         1018   5914          320   40.3320  0.126037
10.0 0            7     21            2    2.3110  1.155500
     1          372   2245          114   12.9350  0.113465
     2         4010  23227         1228   62.4260  0.050836
     3        12911  72329         3987  244.9650  0.061441
     4         9223  53350         2903  105.5990  0.036376
     5         1939  10835          605   -0.5020 -0.000830
25.0 0           32    201           10    3.9316  0.393160
     1         1028   5811          310   20.9956  0.067728
     2         7789  42799         2356   55.6080  0.023603
     3        14553  80168         4439   46.4948  0.010474
     4         6405  37840         2018   96.7208  0.047929
     5          841   4599          265  -11.3660 -0.042891
50.0 0           24    162            8    5.9316  0.741450
     1          773   3857          222  -21.1928 -0.095463
     2         6437  35680         1936   38.6842  0.019982
     3        11077  61388         3377   35.7616  0.010590
     4         4231  24880         1331   39.5812  0.029738
     5          476   3260          158    2.4536  0.015529

частота распределения итогов 1 турнира в Байинах

In [19]:
w

-1.0000    0.543942
-0.5196    0.074659
 0.4412    0.069397
 1.8824    0.063709
 0.9216    0.058305
 1.4020    0.056172
 2.3628    0.054608
 2.8432    0.043231
 3.3236    0.018914
-0.0392    0.016923
-0.2794    0.000142
Name: won_bi, dtype: float64

In [10]:
winnings5 = df[df.bi==5.0].won_bi.value_counts(normalize=True, sort=True)
winnings10 = df[df.bi==10.0].won_bi.value_counts(normalize=True, sort=True)
winnings25 = df[df.bi==25.0].won_bi.value_counts(normalize=True, sort=True)
winnings50 = df[df.bi==50.0].won_bi.value_counts(normalize=True, sort=True)

In [11]:
def random_win(distr, n):
#     returns random number winnings in distr with given prob
    return np.random.choice(distr.index, size=n, p=distr.values)

In [12]:
def generate_samples(distr, nsamples, npersample):
    samples = []
    for i in range(0, nsamples):
        samples.append(sum(random_win(distr, npersample)))
    return samples

In [13]:
def get_statistics(distr):
    tournaments_per_sample = [1000, 2000, 3000, 4500, 6000]
    stats = []
    for i in tournaments_per_sample:
        samples = pd.Series(generate_samples(distr, 1000, i))
        stats.append(samples)
    stats = pd.DataFrame(stats).T
    stats.columns = tournaments_per_sample
    return stats

In [14]:

stats50 = get_statistics(winnings50)

In [15]:
stats50.describe(percentiles=[0.05, 0.1, 0.25, 0.75, 0.9,0.95])

              1000         2000         3000         4500         6000
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean     14.054742    30.162714    42.509634    61.020646    87.013888
std      44.266008    60.341442    76.499153    91.885565   101.709632
min    -105.014800  -188.892000  -184.375600  -249.420800  -289.965600
5%      -57.947610   -69.524610   -92.006690   -89.447600   -81.087680
10%     -44.004000   -48.375000   -57.093620   -54.450460   -44.721400
25%     -17.642050    -9.702800    -9.510000     0.987700    25.056700
50%      13.163600    32.452300    42.853600    63.439700    84.626300
75%      45.830800    73.886800    95.337300   123.850000   151.522000
90%      71.772400   105.857420   143.041020   179.840620   212.316620
95%      89.090820   128.688430   164.947260   204.329010   257.942610
max     148.156000   212.242000   278.489800   380.143400   414.541000

In [16]:
stats25 = get_statistics(winnings25)
stats25.describe(percentiles=[0.05, 0.1, 0.25, 0.75, 0.9,0.95])

              1000         2000         3000         4500         6000
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean     20.655176    46.436392    68.859611    99.449143   132.863220
std      43.358425    59.510092    73.297117    92.489658   108.696148
min    -102.612800  -112.508400  -181.510400  -203.302400  -278.436000
5%      -48.832020   -52.002020   -49.383200   -41.976400   -45.050000
10%     -35.420320   -31.801200   -22.002120   -14.506920     0.130760
25%      -7.613700     6.150400    19.794400    36.417200    60.241700
50%      19.168600    45.543200    71.677600    95.738000   133.241000
75%      50.634800    86.377200   113.927000   166.566900   203.405200
90%      74.639320   125.818040   161.558720   224.716800   271.718080
95%      90.996080   147.460060   186.540380   254.999200   312.958700
max     172.639200   232.899200   338.299600   430.825600   510.861200

In [17]:
winnings = pd.DataFrame([winnings50, winnings25]).T.dropna()
winnings

           won_bi    won_bi
-1.0000  0.543942  0.540647
-0.5196  0.074659  0.077783
-0.0392  0.016923  0.017983
 0.4412  0.069397  0.065227
 0.9216  0.058305  0.060332
 1.4020  0.056172  0.056608
 1.8824  0.063709  0.059694
 2.3628  0.054608  0.057778
 2.8432  0.043231  0.042456
 3.3236  0.018914  0.021388

Распределение мест занятых в турнире:

In [18]:
df.finishes.value_counts(normalize=True)

3    0.194838
4    0.184260
1    0.183360
2    0.182384
5    0.152149
6    0.103008
Name: finishes, dtype: float64